<div style="width: calc(var(--fullpage-chat-width)/1.03);margin-left: 40px;" class="flyout box-flyout">
    <div class="chat-body">

      <div class="text-center">
            <i class="fas hidden fa-spinner"></i>
            <button class="btn btn-primary hidden load-more-messages {{{o.user_id}}}">Load more...</button>
      </div>
        <div  class="chat-content {[ if (o.show_send_button) { ]}chat-content-sendbutton{[ } ]}">
            <!-- <div class="chat-loading">
            <h3>Loading...</h3>
            </div> -->
            <!-- <div class="text-center">
                <i class="fas hidden fa-spinner"></i>
            </div> -->
        </div>
        <div class="message-form-container message-form-container-wrap"></div>
    </div>
</div>
