<div class="chat-area col-md-9 col-8">
    <div class="text-center">
        <!-- <i class="fas  fa-spinner "></i> -->
        <span class="spinner fa fa-spinner loading-more-spin centered hidden"></span>
        <button  class="btn btn-primary hidden load-more-messages {{{o.user_id}}}">Load more...</button>
    </div>
    <div class="chat-content {[ if (o.show_send_button) { ]}chat-content-sendbutton{[ } ]}">
    </div>
    <div class="message-form-container message-form-container-wrap"/>
</div>
