<style>
    .title-feature {
        width: 50%;
    }
    @media (max-width: 1500px) {
    .title-feature {
        width: 60% !important;
    }
    }

    @media (max-width: 1300px) {
    .title-feature {
        width: 100% !important;
    }
    }
</style>
<div class="chatbox-navback"><i class="fa fa-arrow-left"></i></div>
<div class="chatbox-title">
    <div class="chat-title" title="{{{o.nickname}}}">
        {[  if (o.subject && o.subject.text) { ]}
          {{{ o.subject.text }}}
        {[ } else if (o.name && o.name !== o.Strophe.getNodeFromJid(o.jid)) { ]}
            {{{ o.name }}}
        {[ } else { ]}
            Loading...
        {[ } ]}
    </div>
    <div class="row title-feature" >
        <span class="col-1 text-center" style="border-right: 1px solid; width: 100%; padding: 0px;">
            <span class="row text-center" style="margin: 0px;padding: 0px;display: flex;justify-content: center;">
                <i class="fa fa-user toggle-occupants" aria-hidden="true" style="font-size: 15px; margin-top: 7px;" title="{{{o.list_members}}}"></i>
                <strong style="font-size: 16px; margin-top: 5px">&nbsp {{{o.members_length}}}</strong>
            </span>
        </span>
        <span class="col-1 text-center" style="border-right: 1px solid; padding: 0px;">
            <i class="fa fa-star"  style="font-size: 15px" aria-hidden="true"></i>
        </span>
        <span class="col-1 text-center" style="border-right: 1px solid; padding: 0px">
            <i class="fa fa-plus add-group-member"  style="font-size: 15px" aria-hidden="true" title="{{{o.add_member}}}"></i>
        </span>
    </div>
    <!-- Sanitized in converse-muc-views. We want to render links. -->
    <!-- <p class="chatroom-description">{{o.description}}</p> -->
</div>
<div class="chatbox-buttons row no-gutters">
    <!-- <a class="chatbox-btn close-chatbox-button fa fa-sign-out-alt" title="{{{o.info_close}}}"></a> -->

    <a class="chatbox-btn sign-out-button fa fa-sign-out-alt" title="{{{o.sign_out}}}"></a>
    <a class="chatbox-btn close-chatbox-button fa fa-times" title="{{{o.info_close}}}"></a>

    <!-- {[ if (o.affiliation == 'owner') { ]}
    <a class="chatbox-btn configure-chatroom-button fa fa-wrench" title="{{{o.info_configure}}} "></a>
    {[ } ]}
    <a class="chatbox-btn show-room-details-modal fa fa-info-circle" title="{{{o.info_details}}}"></a> -->
</div>
