<!-- Change status Modal -->
<div class="modal fade" id="modal-status-change" tabindex="-1" role="dialog" aria-labelledby="changeStatusModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changeStatusModalLabel">{{{o.modal_title}}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="{{{o.label_close}}}">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="converse-form set-xmpp-status" style="padding-top: 0px;" id="set-xmpp-status">
                    <div class="form-group">
                        <div class="custom-control custom-radio p-0">
                            <input {[ if (o.pageMeStatus === 'OFF_CALL') { ]} checked="checked" {[ } ]}
                                   type="radio" id="radio-off-call" value="OFF_CALL" name="chat_status" class="custom-control-input"/>
                            <label class="custom-control-label" for="radio-off-call">
                                <span class="fa fa-circle chat-status chat-status--OFF_CALL"></span>Not On Call</label>
                        </div>

                        <div class="custom-control custom-radio p-0">
                            <input {[ if (o.pageMeStatus === 'ON_CALL') { ]} checked="checked" {[ } ]}
                                   type="radio" id="radio-on-call" value="ON_CALL" name="chat_status" class="custom-control-input"/>
                            <label class="custom-control-label" for="radio-on-call">
                                <span class="fa fa-circle chat-status chat-status--ON_CALL"></span>On Call</label>
                        </div>

                        <div class="custom-control custom-radio p-0">
                            <input {[ if (o.pageMeStatus === 'BUSY') { ]} checked="checked" {[ } ]}
                                   type="radio" id="radio-busy" value="BUSY" name="chat_status" class="custom-control-input"/>
                            <label class="custom-control-label" for="radio-busy">
                                <span class="fa fa-circle chat-status chat-status--BUSY"></span>Busy</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="btn-group w-100">
                            <textarea name="status_message" type="text" class="form-control" placeholder="{{{o.placeholder_status_message}}}">{{{o.statusMessage}}}</textarea>
                            <!-- <span class="clear-input fa fa-times {[ if (!o.statusMessage) { ]} hidden {[ } ]}"></span> -->
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">{{{o.label_save}}}</button>
                </form>
            </div>
        </div>
    </div>
</div>
