<div class="userinfo controlbox-padded">
<div class="controlbox-section profile d-flex">
    <a class="show-profile" href="#">
        <canvas class="avatar align-self-center" height="40" width="40"></canvas>
    </a>
    <div class="d-flex flex-row w-100">
      <div class="d-flex flex-column infos">
        {[ if (o.organizations && o.organizations.length) { ]}
          <span class="username">{{{o.organizations}}}</span>
        {[ } ]}
        <!-- <a class="controlbox-heading__btn show-client-info fa fa-info-circle align-self-center" title="{{{o.info_details}}}"></a> -->
        <span class="{{{o.chat_status}}}" data-value="{{{o.chat_status}}}">
        <!-- <span class="
        {[ if (o.chat_status === 'online') { ]} fa fa-circle chat-status chat-status--online{[ } ]}
        {[ if (o.chat_status === 'dnd') { ]} fa fa-minus-circle chat-status chat-status--busy {[ } ]}
        {[ if (o.chat_status === 'away') { ]} fa fa-circle chat-status chat-status--away{[ } ]}
        {[ if (o.chat_status === 'xa') { ]} far fa-circle chat-status chat-status--xa {[ } ]}
        {[ if (o.chat_status === 'offline') { ]} fa fa-circle chat-status chat-status--offline{[ } ]}"></span>{{{o.fullname}}}</span> -->
        <span class="fa fa-circle chat-status chat-status--offline"></span> {{{o.fullname}}}</span>
      </div>
      <div class="d-flex flex-column control-buttons">
        {[ if (o._converse.allow_logout) { ]}
            <a class="controlbox-heading__btn logout fa fa-sign-out-alt align-self-start" title="{{{o.title_log_out}}}"></a>
        {[ } ]}

        <a class="controlbox-heading__btn change-status fa fa-pencil-alt" title="{{{o.title_change_status}}}" data-toggle="modal" data-target="#changeStatusModal"></a>
      </div>
    </div>
</div>

</div>
