
<style>

</style>
<a style="display:flex !important; justify-content: space-between !important;  min-width: 110% !important;  "
  class="row list-item-link cbox-list-item open-chat w-100 {[ if (o.num_unread) { ]} unread-msgs {[ } ]}"
  data-jid="{{{o.jid}}}" href="#">
  <div style="margin-left: 6%;" class="">
    <span class="chat-status {{{o.status_icon}}}"></span>
    <span class="contact-name">{{{o.name || 'Loading...'}}}</span>
  </div>
  {[ if (o.num_unread_general || o.num_unread) { ]}
  <div class="msg">
    <span style=" background-color: #ec5057 !important;  border-radius: 10px !important; min-width: 25px !important;"
      class="msgs-indicator badge badge-info">{{{ o.type === 'chatbox' ? o.num_unread : o.num_unread_general }}}</span>
  </div>
  {[ } ]}
</a>
