{[ if (o.toolbar_side === 'left')  { ]}
  <!-- <li class="toggle-medical-requests fa fa-stethoscope" title="{{{o.label_medical_requests}}}"></li>
  <li class="toggle-files fa fa-file-upload" title="{{{o.label_file_upload}}}"></li> -->
  <li class="toogle-toolbox-wrapper fa fa-plus dropup">
    <button class="toggle-toolbox dropup hidden" id="toggleToolbox" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">+</button>
    <div class="dropdown-menu toolbox-menu" aria-labelledby="toggleToolbox">
      <div class="group-item">
        <div style="padding: 0px 20px 0px 20px;" class="group">
          <span class="toolbox-item toolbox-photo toggle-photos"></span>
          <h5 class="text-center">Quick Photo</h5>
        </div>
          
          <div style="padding: 0px 20px 0px 20px;" class="group">
            <span class="toolbox-item toolbox-video toggle-videos"></span>
            <h5 class="text-center">Video Clip</h5>
          </div>
      </div>
      {[if (o.from_groupChat) {]}
      {[ } else { ]}
      <div>
        <div class="dropdown-divider"></div>
        <span class="group-item-name"><b>Extensions:</b></span>
        <div class="group-item">
          <div style="padding: 0px 20px 0px 20px;" class="group">
            <span class="toolbox-item toolbox-medical-request toggle-medical-requests"></span>
            <h5 class="text-center">Medical Request</h5>
          </div>
        </div>
      </div>
      {[}]}
      
    </div>
  </li>
{[ } else { ]}
  {[ if (o.use_emoji)  { ]}
  <li class="toggle-toolbar-menu toggle-smiley dropup">
      <a class="toggle-smiley far fa-smile" title="{{{o.tooltip_insert_smiley}}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
      <div class="emoji-picker dropdown-menu toolbar-menu" style="left: -200px !important"></div>
  </li>
  {[ } ]}
  {[ if (o.show_call_button)  { ]}
  <li class="toggle-call fa fa-phone" title="{{{o.label_start_call}}}"></li>
  {[ } ]}
  {[ if (o.show_occupants_toggle)  { ]}
  <li class="toggle-occupants fa {[ if (o.hidden_occupants)  { ]} fa-angle-double-left {[ } else { ]} fa-angle-double-right {[ } ]}"
      title="{{{o.label_hide_occupants}}}"></li>
  {[ } ]}
{[ } ]}
